
@font-face {
    font-family: [Cover];
    src: url("./fontes/antique_book_cover.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projetosContainer {
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    display: block;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0);
    border-bottom: solid 2px black;
}

.projetosContainer > h2 {
    grid-row: 1;
    grid-column: 1/3;
    width: 100%;
    margin-bottom: 10px;
    font: normal 22px Cover, sans-serif;
    text-indent: 15px;
    background: linear-gradient(to right, #247B7B, #3ac0c0, #247b7b09);
    color: #f3f9d2;
}

.projetosContainer .orientação {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
}
.projetosContainer .orientação span {
    width: 50%;
    min-width: 300px;
    margin-bottom: 11px;
}
.projetosContainer .orientação a {
    text-decoration-line: none;
    padding: 6px;
    border-radius: 10px;
    position: relative;
    top: 13px;
    background-color: #247B7B;
    color: #f3f9d2;
    border: solid 2px #247B7B;
    transition: linear 200ms;
    margin-bottom: 15px;
}


a[name="projetos"] {
    position: absolute;
    visibility: hidden;
    width: 50px;
    height: 50px;
    transform: translateY(-70px);
}

.projeto {
    width: 100%;
    max-width: 289px;
    border: solid 2px black;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr;
    margin: 13px auto;
}
.projeto details {
    grid-column: 1;
    grid-row: 1;
}
.projeto details summary {
    list-style-type: none;
    height: 30px;
    text-indent: 15px;
    padding-top: 5px;
    border-radius: 12px 12px 0 0 ;
    border-bottom: solid 1px black;
    font-size: 20px;
    transition: linear 250ms;
    background-color: rgb(0, 0, 0);
    color: white;
}

.projeto details section {
    position: relative;
    height: calc(100% - 30px);
    padding: 15px;
    border-radius:  0 0 12px 12px;
    font: normal 14px "Helvética", sans-serif;
    background-color: rgba(0, 0, 0, 0.726);
    color: #f3f9d2;
    z-index: 1;
}
.projeto .thumb {
    overflow: hidden;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin-top: 30px;
}
.projeto .thumb a {
    width: 100%;
    height: 100%;
}
.projeto .thumb img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
    transition: linear 200ms;
}
.projeto .thumb img:hover {
    transform: scale(1.06);
    border-radius: 50px;
}

@media (min-width: 440px) {
    .projetosContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .projetosContainer .orientação a:hover {
        background-color: #f3f9d2;
        color: #247B7B;
    }
    .projeto details summary:hover {
        font-size: 22px;
        padding-top: 3px;
        cursor: pointer;
        background-color: #247B7B;
        color: #f3f9d2;
    }
    .projeto {
        width: 100%;
        max-width: none;
    }
}
@media (min-width: 620px) {
    .projetosContainer {
        grid-template-columns: 1fr 1fr;
    }
    
    
}



/*
.projeto details summary::-webkit-details-marker {
    display: none
}
summary::-webkit-details-marker {
    display: none
}
summary:after {
background: black; 
content: "+"; 
color: #fff; 
float: left;  
font-weight: bold; 
padding: 0; 
text-align: center; 
width: 20px;
left: 20px;
margin-right: 10px;
}
details[open] summary:after {
content: "-";
}
*/