@font-face {
    font-family: [Cover];
    src: url("./fontes/antique_book_cover.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    width: 100%;
    padding: 10px;
    background-color: #f3f9d2;
}
footer > p {
    width: 100%;
    padding: 10px;
    font: normal 18px Cover, sans-serif;
    text-align: center;
    background: #2f2f2f;
    color: #f3f9d2;
}